* {
    transition: 0.4s;
}
.header {
    min-height: 100vh;
    background-image: url("../../public/images/header_thumbnail.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box;
    background-size: 100% 100%;

    .header-navbar {
        .header-logo {
            width: 170px;
            height: 59px;
        }
    }
}
