.home-bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100000 !important;
    .header {
        height: 7.5rem;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .line {
            width: 83%;
            height: 1px;
            background-color: #e6e6e6;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 768px) {
        .header{
            height:11.5rem;
        }
  
    }
}
